.baseLayout {
    padding: 20px;
}

.characterCard {
    max-width: 600px;
}

.characterBio {
    min-height: 120px;
}

.getNextCharacter {
    float: right;
}

.favorites {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
}

.favoritesRow:hover {
    background-color: rgb(0, 225, 255);
    opacity: .5;
    cursor: pointer;
}